<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.barbersgold">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:theme="@style/Theme.BarbersGold">
        <activity
            android:name=".ServiciosActivity"
            android:exported="false" />
        <activity android:name=".MenuPrincipal"></activity>
        <activity android:name=".activity.MainActivity2"></activity>
        <activity android:name=".activity.MainActivity"></activity>
        <activity
            android:name=".splash.splashActivity"
            android:exported="true"
            android:theme="@style/splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>